.temp-body{
    background-color:  #042f5c;
    width: 400px;
    height: 550px;
    margin: auto;
}
.temp-value{
    margin-left: 100px;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 20px
}
.temp-btns{
    margin: 0px 10px;
    width: 80px;
    height: 30px;
}